.Product-Detail-Container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .Product-Name {
        font-size: 30px;
    }

    .Product-Info {
        padding: 20px;
        width: 100%;
        display: flex;


        .Product-Image {
            border-right: 1px solid rgba(128, 128, 128, 0.526);

            img {
                width: 400px;
                height: 400px;
                object-fit: contain;
                width: 100%;
            }

            .Product-Add {
                margin-top: 30px;
                width: 100%;
                display: flex;
                justify-content: center;

                .add {
                    width: 200px;
                    padding: 10px;
                    text-align: center;
                    color: #fff;
                    border-radius: 200px;
                    font-weight: 600;
                    background-color: #1e90ff;
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }
            }

        }

        .Product-Detail {
            padding: 0 30px;
            width: calc(100% - 400px);
            display: flex;
            flex-direction: column;
            gap: 20px;

            .variants {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;

                .variant {
                    padding: 5px 8px;
                    border: 1px solid #515050;
                    border-radius: 3px;
                    color: gray;
                    transition: 0.1s ease-in-out;

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        color: #1e90ff;
                        border: 1px solid #1e90ff;
                    }
                }
            }

            .price {
                .title {
                    margin-right: 10px;
                }

                b {
                    font-size: 25px;
                }
            }
        }
    }
}

.Comment-Container {
    margin-top: 15px;
    border-top: 2px solid grey;
    padding: 15px;

    .Comment-List {
        margin-top: 20px;

        ul {
            list-style: none;
            padding: 0;
        }
    }

    .stars {
        display: flex;
        align-items: center;
        gap: 5px;

        .star {
            cursor: pointer;
            transition: .2s;
            color: var(--main-color);

            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}